/*checking out External CSS */

.sty {
    background-color: red;
    color: white; 
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.stl1 {
    background-color: rgb(219,112,147);
    font-family:sans-serif;
    font-size: 12px;
    color: #000000;
}

#id1 {
    background-color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0000ff;
    font-size: 36px;
}

.fnt {
    font-size: 24px;
}

#id2 {
    background-color: #7cfc00;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

button {
    font-family: Helvetica,'Times New Roman', sans-serif;
    font-size: 28px;
}

.tryme {
    background-color: #000000;
    color: #ffffff;
}

.notryme {
    background-color: yellow;
    color: #000000;
}

.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

.container {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

body{
    font-family:Arial, Helvetica, sans-serif
  }
  
  .para,
  .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
  }
  
  .para.small-para {
    font-size: 14px;
    font-weight: 800;
  }
  
  .para {
    font-size:22px;
  }
  
  .confirm {
    background: green;
    color: white;
    font-weight: bold;
  } 
  
  .cancle {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .text.child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }
  
  div.text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
  }